html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

nav {
    display: flex;
    width: 100%;
    margin: 0;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff95;
    z-index: 10;
}

nav div {
    margin-left: 2%;
    margin-right: 2%;
}

nav>div a {
    text-decoration: none;
    color: black;
}

#navLinks {
    display: flex;
    text-align: left;
}

#navLinks a {
    margin-right: 7px;
    margin-left: 7px;
    color: black;
    text-decoration: none;
    width: fit-content;
}

@media (max-width: 600px) {
    #navLinks a:not(#registerNav):not(#codeofconductNav) {
        display: none;
    }
}

#navLinks a:hover {
    text-decoration: underline;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
    filter: drop-shadow(2px 2px 7px #00000033);
}

section {
    display: flex;
    padding: 10px;
}

#title {
    font-size: 120px;
    filter: drop-shadow(5px 5px 5px #7c601a);
}

@media (max-width: 600px) {
    #title {
        font-size: 17vw;
    }
}

.register {
    border-radius: 5px;
    border-style: none;
    background-color: #638bee;
    height: 50px;
    width: 150px;
    filter: drop-shadow(0px 0px 3px #7c601a);
    transition: transform 100ms ease-in, background-color 100ms ease-in;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.register:hover {
    transform: scale(1.2);
    background-color: #84a2ee;
    cursor: pointer;
}

#landingSection {
    min-height: 80vh;
    background-color: #fadc91;
    color: #ffffff;
    background-image: radial-gradient(circle at top, #ebc8296e 20%, rgba(206, 138, 13, 0.527) 50%, #ac30117c 80%, #1b193577);
    align-items: center;
    justify-content: center;
}

@media (max-width: 450px) {
    #landingSection {
        min-height: 90vh;
    }
}

#landingSection>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 50px;
}

#splashSection {
    justify-content: center;
    background-color: #638bee;
}

#splashSection>div {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#splashSection>div p {
    font-size: xx-large;
    line-height: 1.5em;
    color: #ffffff
}

@media (max-width: 450px) {
    #splashSection>div p {
        font-size: large;
        line-height: normal;
    }
}

#FAQSection {
    background-color: #8eacda;
    justify-content: center;
    align-items: center;
}

#FAQSection>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#FAQSection>div h1 {
    color: #ffffff
}

#FAQGrid {
    width: 80%;
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 50px;
    text-align: left;
}

@media (max-width: 400px) {
    #FAQGrid {
        grid-template-columns: 1fr;
    }
}

.FAQcontainer {
    background-color: rgb(240, 229, 192);
    border-radius: 10px;
    padding: 10px;
    line-height: 1.5;
    filter: drop-shadow(2px 2px 5px #0000005b);
}

#prizeSection {
    background-color: #e4b641;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#PrizeGrid {
    width: 80%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 50px;
    text-align: left;
}

.Prizecontainer {
    background-color: rgb(240, 229, 192);
    border-radius: 10px;
    padding: 10px;
    line-height: 1.5;
    filter: drop-shadow(2px 2px 5px #0000005b);
}

#scheduleSection {
    background-color: #8eacda;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#scheduleSection>div h1 {
    color: #ffffff
}

#scheduleSection div {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

#scheduleSection div img {
    width: 100%;
}

@media (max-width: 650px) {
    #scheduleSection div {
        width: 100%;
    }

    #scheduleSection div img {
        width: 150%;
    }
}

#teamSection {
    background-color: #8eacda;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
}

#teamSection>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#teamSection>div>h1 {
    color: #ffffff;
    text-align: center;
}

#TeamGrid {
    width: auto;
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin: 50px;
    text-align: left;
}

.Teamcontainer div {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.5;
    text-align: center;
}

.Teamcontainer img {
    width: 100%;
    border-radius: 50%;
    filter: drop-shadow(2px 2px 5px #0000005b);
}

@media (max-width: 650px) {
    #TeamGrid {
        grid-template-columns: 1fr;
        margin: 5px;
    }

    .Teamcontainer {
        display: flex;
        flex-direction: row;
        height: 120px;
    }

    .Teamcontainer div {
        text-align: left;
    }

    .Teamcontainer img {
        height: 100%;
        width: auto;
    }
}

#reminderSection {
    background-color: #e4b641;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#reminderSection div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 50%
}

#reminderSection div a {
    margin: 20px;
}

@media (max-width: 450px) {
    #reminderSection {
        padding-left: 30px;
        padding-right: 30px;
    }

    #reminderSection div {
        flex-direction: column;
    }
}